<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ChapeauDatabase" connectionString="Data Source = den1.mssql7.gear.host;
         Initial Catalog=dbchapeau202103; User=dbchapeau202103; Password=Ph2Y~94bYL-0"/>
	</connectionStrings>
</configuration>